* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background-color: #44444b;
}

body {
    width: 960px;
    height: 960px;
    margin: 0px;
    font-family: helvetica, arial, sans-serif;
    background-color: black;
    color: white;
}

header {
    position: fixed;
    width: 100%;
    z-index: 10;
    padding: 40px;
    font-size: 28px;
    text-align: center; 
}

.tweet {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
    
    -webkit-animation-duration:14s;
    animation-duration: 14s;
}

.tweet .time {
    display: none;
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding: 20px;
    
    font-family: "Andale Mono";
    font-size: 14px;
}


.tweet .text {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 20px;
    padding-top: 100px;
    font-size: 80px;
    line-height: 90px;
}

#clock-container {
    position: fixed;
    padding: 20px;
    bottom: 0;
    right: 0;
}

#wyoscan-container {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 20%;
    padding: 20px;
}

.media {
    width: 100%;
    height: 100%;
}

.media img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}