* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background-color: #44444b;
}

body {
    width: 960px;
    height: 960px;
    margin: 0px;
    padding: 5%;
    font-family: helvetica, arial, sans-serif;
    background-color: black;
    color: white;
}

header {
    font-size: 28px;
    text-align: center; 
}

#tweets {
    position: relative;
}

#tweets-display {
    position: relative;
}

.tweet {
    position: absolute;
    width: 100%;
    margin: 0px;
    padding: 20px;
    
    /*
    force urls to stay in the tweet container 
    https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ 
    */
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

    
    -webkit-animation-duration:14s;
    animation-duration: 14s;
}

.tweet .time {
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding: 20px;
    
    font-family: "Andale Mono";
    font-size: 14px;
}


.tweet .text {
    font-size: 80px;
    line-height: 90px;
}

.media img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 1.2em;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}